
<h4>Buscar Item</h4>


<div>
  <input type="text" class="search" [(ngModel)]="valorBuscaPessoa" (keyup.enter)="obterPessoa()">
</div>

<p>Pessoa Encontrada: {{ (pessoaEncontrada$ | async)?.nome  }}</p>


<h3>Adicionar Pessoa</h3>
<div>
  <input type="text" [(ngModel)] = "nomeAdicionar" (keyup.enter)="AdicionarPessoa()">
</div>

<h3>Listar Pessoa</h3>
<span *ngFor="let pessoa of pessoas$ | async"  (click)="ObterDadosAtualizar(pessoa)">
  {{ pessoa.nome }} ,

</span>

<h3>Atualizar Nome</h3>
<div>
  <input type="text" [(ngModel)] = "nomeAtualizar" (keyup.enter)="AtualizarNome()">
</div>
